/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/08/2020, 09:55:28
    Author     : Vanderson
/*
CorDestaque1= #866607
CorSecundaria = #0F6D39;
CorTerciaria = #83AD3F;

*/
#menuAulas{
    background-color: #83AD3F !important;
}

.divImgPrincipalCapa {
    overflow: hidden;
}
.btn-primary {
    color: #fff;
    background-color: #0F6D39 !important;
    border-color: #0F6D39 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #83AD3F !important;
    border-color: #83AD3F !important;
}
.c100 > span {
    color: #866607 !important;
}
.corSecundaria,.corDestaque2{
    color:#0F6D39 !important;

}
.textoJustificado{
    text-align: justify;
}
.paragrafo{

    margin-top: 0;
    display: block;
}
.corPrimaria,.corDestaque1{
    color:#866607 !important;
}


.identificadorAulas {
    position: relative;
    top: 0;
    display: block;
    text-align: left;
    border-radius: 0 0 110px 0px;
    padding: 7px;
    padding-right: 85px !important;
    color: #FFFFFF !important;
    background-color: #0F6D39 !important;
    font-weight: bold !important;
    overflow: hidden;
}
.identificadorAulas .dados{
    float:left;
    margin-left: 10px;
    font-size: 13px !important;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto');
@font-face {
 font-family: 'Helvetica Neue1';
  src:  url('../fonts/helveticaneue.woff2') format('woff2'),
        url('../fonts/helveticaneue.woff') format('woff');}
div#conteudo {
    overflow-x: hidden !important;
    min-height: 100vh !important;
}


div#capa {
    min-height: 100vh !important;
}

.imgPrincipalCapa {
    height: 100% !important;
}
.imgPrincipalCapaDireita {
    width: 100% !important;
    height: 100% !important;
}
.divImgPrincipalCapa {
    overflow: hidden;
    height: 100%;
}
.capaDireita {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

}
body{
    background-image: url('../img/fundoGeral.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue','Roboto',Arial, sans-serif !important;
    font-size: 16pt !important;
}
span.fonte {
    font-size: 11pt !important;
}
.h5, h5 {
    font-size: 18pt !important;
    font-weight: bold !important;
}
div#conteudo {
    /* overflow: auto; */
    padding-inline: 0;
    overflow-x: hidden !important;
}
.identificadorAulas .dados {
    float: left;
    margin-left: 10px;
    font-size: 12pt !important;
}


.imgPrincipalCapa{
    border-right: 10px solid #83AD3F;
    border-radius: 0px 150px 0 0;
    width: 100%;

}
.capaDireita{
    position: absolute;
    right: 0;
    top: 0;
}

.imgPrincipalCapaDireita {
    border-left: 10px solid #83AD3F;
    border-radius: 0px 0px 0px 180px;
    width: 90%;
}
.logoPrincipal{
    width: 280px;
    margin: auto;
    display: block;
}
.borda-direita{
    border-radius: 0 35px;
}
.borda-esquerda {
    border-radius: 35px 0;
}
.caixas {
    background-color: #81ae2f;
    color: white;
    font-weight: bold;
    padding: 15px;
    position: relative;
    max-width: 90%;
    margin: auto;
}
.saibamais::before{
    content: "";
    background-image: url(../img/saibamais.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    left: -31px;

}
.alerta::before{
    content: "";
    background-image: url(../img/alerta.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    left: -31px;

}
.adicao::before{
    content: "";
    background-image: url(../img/adicao.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    left: -31px;

}
.imagem {
    position: relative;
}
.imagem .controles {
     position: absolute;
    bottom: -27px;
    right: -5px;
}
.imagem .controles img {
    width: 80px;
}
.img-thumbnail1{

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 90%;
    height: auto;
}

.imagem-redonda-borda {
    border-radius: 50%;
    overflow: hidden;
    max-width: 73%;
    margin: auto;
    border: 7px solid #83AD3F;
}

.imagem-esquerda {
    float: left;
    width: 133px;
}

.paragrafo-imagem-esquerda {
    padding-left: 110px;
}