/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/08/2020, 09:55:28
    Author     : Vanderson
/*
CorDestaque1= #866607
CorSecundaria = #326E32;
CorTerciaria = #326E32;

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto');

h5.corDestaque2.maiusculo.font-weight-bold {
    font-size: 20pt;
}

.carousel-item.active {
    display: flex !important;
    justify-content: center;
}

.caixas a {
    color: white !important;
}

#menuAulas {
    background-color: #326E32 !important;
}

.divImgPrincipalCapa {
    overflow: hidden;
}

.btn-primary {
    color: #fff;
    background-color: #326E32 !important;
    border-color: #326E32 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #326E32 !important;
    border-color: #326E32 !important;
}

.c100>span {
    color: #866607 !important;
}

.dadosAula {
    color: #326E32;
}

.corSecundaria,
.corDestaque2 {
    color: #416d39 !important;

}

.textoJustificado {
    text-align: justify;
}

.paragrafo {

    /*text-indent: 1.5em;*/
    margin-top: 0;
    display: block;
    text-align: justify;
}

.corPrimaria,
.corDestaque1 {
    color: #866607 !important;
}


.identificadorAulas {
    position: relative;
    top: 0;
    display: block;
    text-align: left;
    border-radius: 0 0 110px 0px;
    padding: 7px;
    padding-right: 85px !important;
    color: #326E32 !important;
    background-color: #416c38 !important;
    font-weight: bold !important;
    overflow: hidden;
}

.identificadorAulas .dados {
    color: white;
    float: left;
    margin-left: 10px;
    font-size: 13px !important;

}


body {
    background-image: url('../img/fundoGeral.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14pt !important;
    font-family: 'Roboto', sans-serif;
}

.fonte {
    font-size: 12pt !important;
}

.imgPrincipalCapa {
    border-right: 10px solid #326E32;
    border-radius: 0px 150px 0 0;
    width: 100%;

}

.capaDireita {
    position: absolute;
    right: 0;
    top: 0;
}

.imgPrincipalCapaDireita {
    border-left: 10px solid #326E32;
    border-radius: 0px 0px 0px 180px;
    width: 90%;
}

.logoPrincipal {
    width: 280px;
    margin: auto;
    display: block;
}

.borda-direita {
    border-radius: 0 35px;
}

.borda-esquerda {
    border-radius: 35px 0;
}

.caixas {
    color: white;
    background-color: #416d39;
    font-weight: bold;
    padding: 15px;
    position: relative;
    max-width: 90%;
    margin: auto;
}

.alerta::before {
    content: "";
    background-image: url(../img/alerta.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    right: -31px;

}

.adicao::before {
    content: "";
    background-image: url(../img/adicao.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    right: -31px;

}

.saibamais::before {
    content: "";
    background-image: url(../img/adicao.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    right: -31px;

}

.complementar::before {
    content: "";
    background-image: url(../img/complementar.png);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -45px;
    background-size: cover;
    right: -31px;

}

.imagem {
    position: relative;
}

.imagem .controles {
    position: absolute;
    bottom: 0;
    right: 0;
}

.controles {
    position: absolute;
    bottom: 0;
    right: 0;
}

.imagem .controles img {
    width: 50px;
}

.controles img {
    width: 50px;
}

.img-thumbnail1 {

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 90%;
    height: auto;
}

.imagem-redonda-borda {
    border-radius: 50%;
    overflow: hidden;
    max-width: 73%;
    margin: auto;
    border: 7px solid #326E32;
}

.imagem-esquerda {
    float: left;
    width: 133px;
}

.paragrafo-imagem-esquerda {
    padding-left: 110px;
}

.row {
    align-items: center;
}

.jan {
    z-index: 30;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline--inner-pin {
    background-color: transparent;
}

.current {
    background-color: orange;
}

#menuAulas {
    background-color: rgb(225, 225, 225) !important;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    color: #0F6D39;
}

.imgPrincipalCapa {
    width: auto !important;
}